// Styling for components/features

@import '../modules/variables';

.features {
  padding-top: 80px;
  padding-bottom: 40px;

  h5 {
    color: $text-color-light;
  }

  .feature {
    margin-bottom: 30px;
    color: $text-color-light;
  }
}