// Styling for components/footer

@import '../modules/variables';

.footer {
  padding-top: 80px;
  padding-bottom: 80px;

  .preamble {
    margin-bottom: 50px;
  }

  h5 {
    color: $text-color-light;
    text-align: center;
  }

  .footer__column {
    padding: 1rem;
    text-align: center;

    ul {
      list-style-type: none;
      color:  $text-color-light;
      margin: 10px 0 0;
      padding: 0;
    }
  }

  .footer__logo {
    margin: 4rem auto 1rem auto;
    max-height: 46px;

    @media (max-width: 1199px) {
      margin-bottom: 2rem;
    }

    @media (max-width: 991px) {
      margin-top: 3rem;
    }

    @media (max-width: 767px) {
      margin-bottom: 3rem;
    }
  }
}