// Styling for policy pages

@import '../modules/variables';

.policy-hero {
  background: $hero-gradient;

  .preamble {
    padding-top: 80px;

    .subtitle {
      font-weight: bold;
      padding: 10px 0;
      color: $primary-color;
    }

    .secondaryTitle {
      padding-bottom: 1.5rem;
    }

    .lead {
      text-align: left;
    }
  }
}
