// Styling for components/pricing

@import '../modules/variables';

.pricing {
  position: relative;
  background: $pricing-gradient;
  z-index: 99;

  .pricing-card {
    padding: 2.5rem 4rem;
    margin-top: -20%;
    text-align: center;
    transform: scale(1);
    background: $pricing-card-bg-color;
    border-radius: 6px;
    box-shadow: 0 4px 9px 0 rgba(23, 28, 33, .06);

    .preamble {
      margin-bottom: 50px;
    }

    .slider {
      padding: 3rem 0;

      .rc-slider-rail,
      .rc-slider-step,
      .rc-slider-track {
        height: 8px;
      }

      .rc-slider-track {
        background-color: $primary-color;
      }

      .rc-slider-handle {
        margin-top: -7px;
        width: 22px;
        height: 22px;
      }
    }

    .billing-cycle-switch {
      margin-top: 1.5rem;
    }

    @media (max-width: 991px) {
      margin-bottom: 40px;
      margin-top: -100px;

      .billing-cycle-switch {
        margin-bottom: 0 !important;
        margin-top: 0;
      }
    }

    &__footer {

      > div {
        flex: 1;
      }

      &-value {
        font-size: 1.5rem;
        line-height: 2rem;

        &.pricing-total {
          color: $primary-color;
        }
      }

      &-label {
        color: lighten($text-color-dark, 30%);
        font-size: 0.9rem;
      }

      &-total {
        justify-content: flex-end;
        align-items: center;
      }

      .btn {
        padding: 12px 40px;
        margin-left: 20px;
        white-space: nowrap;
      }

      @media (max-width: 767px) {
        flex-flow: column;

        > div {
          padding: 0.5rem 0;
          width: 100%;
        }

        &-total {
          flex-flow: column;
          justify-content: center;
        }

        &-value,
        &-label {
          text-align: center !important;
        }
      }
    }
  }

  .pricing-features {
    margin-top: 60px;

    @media (max-width: 991px) {
      margin-top: 20px;
    }

    @media (max-width: 767px) {
      margin-top: 0;
    }

    .pricing-feature {

      .icon {
        margin-right: 0.5rem;
        color: $secondary-color;
        font-size: 18px;
        font-weight: bold;
      }

      p {
        margin-bottom: 0;

        @media (max-width: 1199px) {
          font-size: 12px;
        }

        @media (max-width: 991px) {
          font-size: 15px;
        }
      }
    }
  }
}