// Styling for components/support

@import '../modules/variables';

.support {
  padding-top: 80px;
  padding-bottom: 80px;

  &-container {
    color: white;

    .chat-link {
      position: relative;

      &:hover {
        text-decoration: underline !important;
      }
    }

    .support-separator {
      padding: 2rem;
    }
  }

  textarea {
    min-height: 100px;
  }

  input {
    height: 49px;
  }

  input,
  textarea {
    border: none;
  }
}