.btn {
  font-weight: 600;
  font-size: 13px;
  font-family: 'open sans', sans-serif;
  text-transform: uppercase;
  transition: .2s ease-in;

  &.btn--lg {
    padding: 14px 40px;
  }

  &.btn-secondary {

    &:focus,
    &:active {
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
    }
  }

  &.btn--green {
    background: $secondary-color !important;
    border-color: $secondary-color !important;
    color: $text-color-light !important;

    &:hover,
    &:active {

      &:not(:disabled) {
        background: darken($secondary-color, 5%) !important;
      }
    }
  }
}