$white: #fff;
$dark-blue: #425672;
$border-radius: 6px;
$blue: #1a65b4;
$light-blue: #e3ebf7;
$body-bg: #f2f7fb;
$header-color: #47495a;
$green: #3ECF8E;
$text-color: #6b7c93;
$blue-2: #00b4ff;
$hero-gradient: linear-gradient(to right bottom, #131c47, #192152, #474c9a, #ac93d2);
