// Third party styling
@import '~bootstrap/dist/css/bootstrap';
@import '~react-toastify/dist/ReactToastify.min';

// Custom styling
@import './modules/variables';
@import './modules/shortcodes';
@import './modules/typography';
@import './modules/buttons';

.chat-link {
  cursor: pointer;
  user-select: none;
  transition: all 350ms;
}

.Toastify__toast--success {
  background-color: $intent-success;
}

.Toastify__toast--error {
  background-color: $intent-error;
}