// Styling for components/features/carouselSlide

@import '../../modules/variables';

.slide {
  color: $text-color-light;

  h3 {
    color: $text-color-light;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.7;
  }

  h3, p {
    text-align: left;

    @media (max-width: 991px) {
      text-align: center;
    }
  }

  .slide-icon {
    text-shadow: 8px 8px 0 rgba(74, 86, 105, .2);
    font-size: 256px;
    line-height: 256px;
    height: 256px;
  }
}